API_KEY=sua_chave_open_router 

# ATENÇÃO!! se for usar o docker-compose comente a linha abaixo e utilize a da linha 11!!
DB_HOST=host_do_banco
DB_NAME=nome_do_banco
DB_USER=usuario_do_banco
DB_PASS=senha_do_usuario_root
DB_PORT=porta_do_banco

# senha do usuário root (exigida pelo Docker):
#DB_HOST=db_mysql
MYSQL_DATABASE=nome_do_banco
MYSQL_ROOT_PASSWORD=senha_do_usuario_root